

        <!-- EMAIL -->
        <div class="group">
          <label for="username">Username</label>
          <input type="text" class="input" placeholder="Email Address">
        </div>

        <!-- PASSWORD -->
        <div class="group">
          <label for="username">Username</label>
          <input type="password" class="input" placeholder="Password">
        </div>



        <!-- LOGIN -->
        <div class="group">
          <button class="btn primary block btn-lg weight-500">Login</button>
        </div>
