<br>
<br>
<div class="container">
   <div class="row">   <a routerLink="add" class="btn btn-md btn-success mb-2">Add Product</a>  </div>

    <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>

            <tr>
                <th style="width: 30%">Id</th>
                <th style="width: 30%">Name</th>
                <th style="width: 30%">Description</th>
                <th style="width: 30%">Price</th>
                <th style="width: 30%">Image</th>
                <th style="width: 10%"></th>
            </tr>
            </thead>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>
                    <img [src]="product.image" alt="Resim yok" width="15">
                </td>
                <td></td>

                <td style="white-space: nowrap">
                    <a [routerLink]="['/products', 'edit', product.id]"
                       class="btn btn-sm btn-primary mr-1">Edit</a>
                    <button [disabled]="loading" (click)="deleteProduct(product.id)"
                            class="btn btn-sm btn-danger btn-delete-product">
                        <span>Delete</span>
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!products">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
