
<div class="container">
  <div class="row">
    <div *ngFor="let product of products">
      <div class="master-div">
        <div>
          <h3>{{product.name}} </h3>
          <span class="dec-css">{{product.description}}</span>
        </div>
        <div class="image-css">
          <img [src]="product.image" alt="Resim bulunamadı..!" width="130" height="150">
        </div>
        <div class="pricing-css">
          <span class="last-price">100₺</span>
          <h2 style="color: forestgreen">{{product.price}}₺</h2>
        </div>
        <div class="button-css">
          <button (click)="addProductChart(product)" mat-raised-button color="primary">Add Chart</button>
        </div>
      </div>
    </div>
  </div>
</div>
