.mat-card-with{
  max-width: 300px;
}
.image-css {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.pricing-css {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: end;
  border-bottom: 2px dashed #dfddec;
}

.last-price{
  color: coral;
  text-decoration: line-through;
  font-weight: bold;
}

.button-css {
  padding-top: 2rem;
  text-align: end;
}

.master-div {
  box-shadow: 6px 11px 41px -28px #a99de7;
  width: 300px;
  padding: 2rem;
}

.dec-css {
  color: #9E9E9E;
}
