<br>
<div class="container">

  <div class="row" style="text-align: center" >
    <div class="col-xs-6" *ngFor="let product of products">
      <div class="card">
        <div>
          <img class="rounded mx-auto d-block img-responsive mt-3" [src]="product.file" alt="Card image cap" height="120px" width="auto">
        </div>
        <div class="card-body">
          <h6 class="card-title font-weight-bold"></h6>
          <div class="row">
            <div class="col-sm-6">
              <small> {{product.name}}</small>
            </div>
            <div class="col-sm-6">
             <small>{{product.description}} </small>
            </div>
            <div class="col-sm-6">
              <small>{{product.price}} </small>
            </div>

          </div>
          <button class="btn btn-sm btn-primary" (click)="addProductChart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
    </div>
