<br>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products">
            <div class="card product_item">
                <div class="body">
                    <div class="cp_img">
                        <img [src]="product.file" alt="Resim yok" width="220px" height="200px">

                    </div>
                    <div class="product_details">
                        <h3><a href=""> {{product.name}}</a></h3>
                        <h4><a href=""> {{product.description}}</a></h4>

                        <ul class="product_price list-unstyled">
                            <li style="color: red;font-size: medium" class="old_price">{{product.price}} TL</li>

                        </ul>
                    </div>
                </div>
                <div class="separator clear-center">



                     <a style="color: blue;float: right" class="hidden-sm" (click)="addProductChart(product)"> <span class="material-icons">
add_shopping_cart
</span></a>

                </div>
            </div>

        </div>
        </div>
    </div>
