<header>
  <!-- Navbar menu start-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user">
    <img src="https://i.ibb.co/tLZZpJn/Screenshot-2-1.png" alt="Screenshot-2-1" border="0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Admin </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/chart" routerLinkActive="active">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
        </li>
      </ul>
      <span class="example-spacer"></span>
      <a class="nav-link" [matMenuTriggerFor]="menu" (onMenuOpen)="getCartList()">
        <mat-icon color="primary">shop</mat-icon>
      </a>
<!-- Matmenu start-->
      <mat-menu #menu="matMenu">
        <div>Charts</div>
        <mat-divider></mat-divider>
        <div class="menucard">
          <div class="container" *ngFor="let cart of carts">
            <div class="row">

              <div>
                <h6>{{cart.name}}</h6>
                <span class="dec-css">{{cart.description}}</span>
              </div>

              <div style="margin: auto">
                <h5>{{cart.price}}₺</h5>
              </div>

              <div style="margin-left: auto;">
                <a class="nav-link"><mat-icon (click)="deleteChartProduct(cart.id)" color="warn">delete</mat-icon></a>
              </div>
            </div>

            <mat-divider></mat-divider>
          </div>
          <mat-divider></mat-divider>
          <h5>Total: {{getTotalPrice()}}₺</h5>
          <mat-divider></mat-divider>
          <br>
          <div style="margin-right: auto">
            <a mat-flat-button color="accent" ><mat-icon (click)="deleteAll()">delete</mat-icon>Hepsini sil</a>
          </div>
          <br>
          <div style="margin-left: auto">
            <a mat-flat-button routerLink="/chart" routerLinkActive="active" color="primary"><mat-icon>shop</mat-icon>Sepete Git</a>
          </div>
        </div>

      </mat-menu>
      <!-- Matmenu end-->


      <a class="nav-link" routerLink="account/login" routerLinkActive="active">
        <mat-icon (click)="logout()" color="warn">logout</mat-icon>
      </a>


    </div>
  </nav>
  <!-- Navbar menu end-->
</header>

