<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user">
   <img src="https://i.ibb.co/tLZZpJn/Screenshot-2-1.png" alt="Screenshot-2-1" border="0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active" >Admin </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/chart" routerLinkActive="active">Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order" routerLinkActive="active">Order</a>
        </li>
      </ul>
      <span class="example-spacer"></span>
      <a class="nav-link" routerLink="/shop" routerLinkActive="active">
        <mat-icon color="primary">shop</mat-icon>
      </a>

      <a class="nav-link" routerLink="account/login" routerLinkActive="active">
        <mat-icon (click)="logout()" color="warn">logout</mat-icon>

      </a>

    </div>
  </nav>
</header>

